$flex-js:(start:flex-start,
  end:flex-end,
  center:flex-center,
  between:space-between,
  around:space-around);

$flex-ai:(start:flex-start,
  end:flex-end,
  center:flex-center,
  stretch:stretch);
