html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  background: rgb(233, 234, 237);

}


// html,
// body {
//   /* background: url("../static/6.jpg"); */
//   background: rgb(233, 234, 237);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center;
//   /* opacity: 0.9; */
// }


#__nuxt,
#__layout,
#default {
  width: 100%;
  height: 100vh;
}

ul li {
  list-style: circle;
}

a {
  text-decoration: none;
  list-style: none;
}

a:hover {
  text-decoration: none;
  list-style: none;
  color: aqua;
}


p img {
  max-width: 740px;
  max-height: 300px;
}

/* iconfont */
@font-face {
  font-family: 'iconfont';
  /* project id 1505337 */
  src: url('//at.alicdn.com/t/font_1505337_ff7978ecjpw.eot');
  src: url('//at.alicdn.com/t/font_1505337_ff7978ecjpw.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1505337_ff7978ecjpw.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1505337_ff7978ecjpw.woff') format('woff'),
    url('//at.alicdn.com/t/font_1505337_ff7978ecjpw.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1505337_ff7978ecjpw.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  color: skyblue;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* 代码块 */
code {
  color: #1e90ff;
  font-family: 'YaHei Consolas Hybrid', consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;

  h1 {
    padding: 0;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Lobster Two', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  }
}


blockquote {
  padding: 0 15px;
  color: #666;
  border-left: 4px solid #666;
}

.hljs-attr {
  color: #1e90ff;
}

.hljs-number {
  color: #718c00;
}

/* 回到顶部 */
.backtop {
  font-size: 6rem;
  color: #34aadc;
  position: fixed;
  right: -5rem;
  bottom: 5rem;
  cursor: pointer;
  transition: 0.7s;
}

.github {
  position: absolute;
  left: 0;
  top: 0;

  img {
    width: 100px;
  }
}


header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  background: #1c2327;

  &::before {
    background: #000 linear-gradient(to left,
        #4cd964,
        #5ac8fa,
        #007aff,
        #34aadc,
        #5856d6,
        #ff2d55);
    content: "";
    height: 8px;
    position: absolute;
    top: 0;
    width: 100%;
  }
}


/* 侧边栏 */
.sidebar {
  flex: 2;
  width: 240px;
  height: 510px;
  margin-left: 4rem;
  opacity: 0.9;
  color: #555;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
  border-radius: initial;
  box-sizing: border-box;
}
