body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

html,
body {
  background: url("../static/6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.9;
}

#__nuxt {
  width: 100%;
  height: 100%;
}

#__layout {
  width: 100%;
  height: 100%;
}

ul li {
  list-style: circle;

}

a {
  text-decoration: none;
  list-style: none;

}

a:hover {
  color: aqua;
}

p img {
  height: 300px;
}

/* iconfont */
@font-face {
  font-family: 'iconfont';  /* project id 1505337 */
  src: url('//at.alicdn.com/t/font_1505337_utdaakmbeq.eot');
  src: url('//at.alicdn.com/t/font_1505337_utdaakmbeq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1505337_utdaakmbeq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1505337_utdaakmbeq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1505337_utdaakmbeq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1505337_utdaakmbeq.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  color: skyblue;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* 代码块 */
code {
  color: #1e90ff;
  font-family: 'YaHei Consolas Hybrid', consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}

code h1 {
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  font-family: 'Lobster Two', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}

blockquote {
  padding: 0 15px;
  color: #666;
  border-left: 4px solid #666;
}

.hljs-attr {
  color: #1e90ff;
}

.hljs-number {
  color: #718c00;
}
