@import 'assets/variables.scss'

// width  height
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

// flex
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

// justify-conent
@each $key,
$value in $flex-js {
  .jc-#{$key} {
    justify-content: $value;
  }
}

// align-items
@each $key,
$value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}
