body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html,
body {
  background: url("../static/6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.9;
}

a {
  text-decoration: none;
  list-style: none;

}

a:hover {
  color: aqua;
}

p img {
  width: 750px;
}

/* iconfont */
@font-face {
  font-family: 'iconfont';  /* project id 1505337 */
  src: url('//at.alicdn.com/t/font_1505337_arsqq3vq75.eot');
  src: url('//at.alicdn.com/t/font_1505337_arsqq3vq75.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1505337_arsqq3vq75.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1505337_arsqq3vq75.woff') format('woff'),
  url('//at.alicdn.com/t/font_1505337_arsqq3vq75.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1505337_arsqq3vq75.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  color: skyblue;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
